service: myCarServices
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-1
  stage: dev

functions:
  myHandler:
    handler: src/handler.handler
    events:
      - httpApi:
          path: /cars
          method: get

plugins:
  - serverless-offline

package:
  individually: true

custom:
  stages:
    prod: eu-west-1

resources:
  Resources:
    CarTrackBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: !Sub "car-track-bucket-${AWS::AccountId}-${AWS::Region}"
